html, body {
  padding: 0;
  margin: 0;
}


div#meters > div {
  margin: 0 0 1em 0;
}

div#meters div.label {
  display: inline-block;
  font-weight: 400;
  margin: 0 0.5em 0 0;
  width: 3.5em;
}

div#meters div.value {
  display: inline-block;
}

meter {
  width: 50%;
}

meter#clip {
  color: #db4437;
}

meter#slow {
  color: #f4b400;
}

meter#instant {
  color: #0f9d58;
}


.luci {
  width: 1000px;
  height: 550px;
  background: url(../images/luci.jpg) 50% no-repeat;
  background-size: cover;
  position: relative;
}

.luci-mouth {
  left: 418px;
  top: 189px;
  width: 144px;
  height: 126px;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.balenciaga {
  width: 1000px;
  height: 550px;
  background: url(../images/balenciaga/balenciaga.jpg) 50% 0 no-repeat;
  background-size: cover;
  position: relative;
}

.balenciaga-mouth {
  left: 676px;
  top: 134px;
  width: 72px;
  height: 72px;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes balenciaga-eyes {
  0% { background-image: none} 
  /*10% { background-image: url(../images/balenciaga/eye-1.png);}*/
  10% { background-image: url(../images/balenciaga/eye-2.png);} 
  50% { background-image: url(../images/balenciaga/eye-3.png);}
  100% { background-image: none;} 
}

@keyframes luci-eyes {
  0% { background-image: none} 
  /*10% { background-image: url(../images/balenciaga/eye-1.png);}*/
  50% { background-image: url(../images/luci/eye-1.png);}
  100% { background-image: none;} 
}

.balenciaga-eyes {
  left: 662px;
  top: 77.5px;
  width: 105px;
  height: 53px;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.luci-eyes {
  left: 553.5px;
  top: 195.9px;
  width: 61px;
  height: 105px;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.balenciaga-eyes-animation {
  animation: 0.5s linear 0s 1 forwards balenciaga-eyes;
}

.luci-eyes-animation {
  animation: 0.5s linear 0s 1 forwards luci-eyes;
}

#container {
}